.main_card{

height: 100vh;
   background-image: url(./img/pattern-background-desktop.svg);
   background-repeat: no-repeat;
   background-size: 100%;
   background-color: hsl(225, 100%, 94%);
   display: flex;
   justify-content: center;
   align-items: center;
}

.main__card-payment{
    width: 40rem;
    height: auto;
    background-color: white;
    border-radius: 2rem ;
    overflow: hidden;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main_card a{
    text-decoration: none;
        
    }

/* cover img */

.card_cover{
    width: 100%;
}

/* Card Informations */

.main__card-information{
   padding-right: 3.5rem;
   padding-left: 3.5rem;
}

.main__card-payment h1{
    font-size: 2.5rem;
    color: hsl(223, 47%, 23%);
    text-align: center;
    font-weight: 900;
    margin-top: 2.5rem;
}

.main__card-payment p{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.5rem;
    text-align: center;
    color: hsl(224, 23%, 55%);
    text-align: justify;
    text-align: center;
    margin-top: 1.5rem;
}

/* Informations Plan */

.main__card-plan{
    background-color:hsl(225, 100%, 98%);
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 3rem;
}

.card__plan-USA{
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative; 
    margin-bottom: 0;  
}
.card__plan-price{
    margin-top: 0;
}
.ccard__plan-price h2{
    font-size: 1.6rem;
    font-weight: 900;
    color:hsl(223, 47%, 23%) ;
    margin-top: 0%;   
}

.card__plan-price p{
    font-size: 1.6rem;
    font-weight: 500;
    color:hsl(224, 23%, 55%);
    margin-top: 0;      
}

.card__plan-USA img{
   width: 4.5rem;
   margin-bottom: 0;
}

   .card__plan-USA img{
    margin-right: 1.8rem;
}

.card__plan-change h3{
    font-size: 1.3rem;
    font-weight: 900;
    color:hsl(245, 75%, 52%);
    margin-top: 0%;
    
}
.card__plan-change a:hover{
    opacity: 70%;

    
}



/* Card Botton */

.card_payment-boton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(245, 75%, 52%);
    
}

.card_payment-boton h2{
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    color: hsl(225, 100%, 98%);
    border-radius: 1.2rem;
    margin-top: 0;
}

.card__boton-pay a:hover{
    opacity: 75%;
       
}

.card_payment-boton2 h2 {
    font-size: 1.3rem;
    font-weight: 900;
    color: hsl(224, 23%, 55%);
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    text-align: center;
}



.card__boton-cancel h2:hover{
    color: black;
}


